body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQO6twn4M_Dz0XgzcEUioShLcvq0QDvi5lvwkVtvX6U0VzNZKFifPUtt6wB2WUnoeHyNhc&usqp=CAU) ;
    background-size: cover; 
    background-position: center;
}

